
// Work
// ------------------------------------------------------------------------- //

.work{
  hr{
    margin: 0;
    margin-top: $l;
    margin-bottom: $l;
  }

  p{
    margin-bottom: $m;
  }
}


// Simple
// ------------------------------------------------------------------------- //

.simple{

  table{
    margin-top: $l;
    margin-bottom: $xl;

    th{
      text-align: left;
      font-weight: $fw-medium;
      padding-bottom: $s;
    }

    tr td{
      border-top: solid 1px $green;
      padding: $s $s $s 0;
    }
  }

  h3{
    i{
      margin-right: $xs;
    }
  }
}